@model List<BasketItemDto>
<div class="bg-light p-30 mb-5">
    <div class="border-bottom">
        <h6 class="mb-3">Ürünler</h6>
        @foreach(var item in Model)
        {
            <div class="d-flex justify-content-between">
                <p>@item.ProductName (@item.Quantity)</p>
                <p>@item.Price</p>
            </div>
        }
        @await Html.PartialAsync("~/Views/Order/OrderSummaryTotalPrice.cshtml");
    </div>
</div>

