<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <span class="breadcrumb-item active">@ViewBag.directory1</span>
                <span class="breadcrumb-item active">@ViewBag.directory2</span>
                <a class="breadcrumb-item text-dark" href="#">@ViewBag.directory3</a>
            </nav>
        </div>
    </div>
</div> 
