@model CreateOfferDiscountDto
@{
    ViewData["Title"] = "CreateOfferDiscount";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}



    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="chart-box">
                    <h4>Özel İndirim Ekleme Sayfası</h4>
                    <br />
                    <div class="bs-example" data-example-id="bordered-table">
                        <form method="post">
                            <label>Özel İndirim Başlığı</label>
                            <input type="text" class="form-control" asp-for="Title" />
                            <br />
                            <label>Özel İndirim Url</label>
                            <input type="text" class="form-control" asp-for="ImageUrl" />
                            <br />
                            <label>Özel İndirim İndirim</label>
                            <input type="text" class="form-control" asp-for="SubTitle" />
                            <br />
                            <label>Özel İndirim Butonu</label>
                            <input type="text" class="form-control" asp-for="ButtonTitle" />
                            <br />
                            <br />
                            <button class="btn btn-primary">Özel İndirim Oluştur</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



