
@{
    ViewData["Title"] = "Exchange";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br/>
    <h3 class="alert alert-success">Dolar Alış: @ViewBag.ExchangeRate -- Dolar Satış: @ViewBag.ExchangeClose</h3>
    <h3 class="alert alert-danger">Euro Alış: @ViewBag.ExchangeRateEur -- Euro Satış: @ViewBag.ExchangeCloseEur</h3>
</div>

